{% extends "base.html" %}
{% load static from staticfiles %}
{% block titel %}Zimmer-&Uuml;bersicht{% endblock %}
{% block inhalt %}
    {% for m in zimmer %}
        <div class="kontainer">
          <div class="titelzeile">
            <div class="titel"><a href={% url 'admin:index' %}hotel/zimmer/{{ m.zimmer_id}}>Zimmernummer:{{ m.zimmer_id}} | {{ m.zimmer|escape }}</a></div>
            <div style="clear: both"></div>
          </div>
          <div class="text">
            	{{ m.preis|escape|linebreaksbr }} € pro Nacht
          </div>
          <div class="text">
           	Zimmer verf&uuml;bar?: {{ m.status|escape|linebreaksbr }} 
          </div>
          <div class="text">
          	Anzahl Betten: {{ m.max_betten|escape|linebreaksbr }}
          </div>
		   <div class="link_unten">
			<a href={% url 'admin:index' %}hotel/buchung/add><img src="{% static "images/add.png" %}" height="24" width="24" alt="Zimmer buchen"/></a>
          </div>

         <div class="text">
	
			<a href={{m.image|escape}} data-lightbox="image-1" data-title="My caption"> <img class="example-image" src="{{m.image|escape}}" height="35" width="35"alt="" /></a>
          </div>

        </div>
    {% endfor %}
{% endblock %}

